.wl {
	background: #232a2e;
}

.bkK > .nH {
	background-color: #4f585e;
}

.yO {
	background: #343f44;
}

/* search bar */
.gb_Jc .gb_Ze {
	background: #4f585e;
}

/* message? */
.TD {
	background: rgba(0, 0, 0, 0.1);
}

/* filter menus */
.H2.HD {
	background-color: rgba(0, 0, 0, 0.1);
}
